body {
    color: #cccccc;
    background-color: #1a1a1a;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    font-size: 24px;
}

.container {
    display: grid;
    grid-template-areas: 
        'header header right'
        'main main right'
        'footer footer footer';
    gap: 10%;
    padding: 5%;
}

.item  {
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s; 
}
