---
import Layout from '../layouts/layout.astro';
--- 

<Layout>
<header class="header">

    <h2>About Me</h2>

</header>

<div class="main"> 
    
    <p>I was born in Dallas, Texas in the year 1996. My family moved a lot for my dad's job. We moved to a different town 
        every few years. I believe this is what made me love to travel. After seeing all of Texas, I was ready to explore 
        other states. I lived in beautiful Colorado for a few years, and now I'm enjoying sunny Arizona. I can't wait to 
        continue my travels and see what the rest of the country has to offer. </p>
    <p>Throughout my life I have studied several different topics trying to decide what career to choose. I have always 
        loved computers and technology. However, that is a wide range of options and I didn't know what to pick or how to 
        get into it. </p>
    <p> I was recently diagnosed with <a href="https://www.mayoclinic.org/diseases-conditions/rheumatoid-arthritis/symptoms-causes/syc-20353648" target="_blank">
        Rheumatoid Arthritis</a> and knew this was the perfect time for a career change. I was finally able to decide that 
        I want to create beautiful websites like the ones that I have always admired. I'm very excited for this new chapter 
        of my life. </p>
</div>

<div class="right">

    <div class="toggle">
        <p class="mode-status">Dark Mode ON</p>
        <label class="toggle-switch">
            <input type="checkbox" id="mode-toggle">
            <span class="slider"></span>
        </label> 
    </div>
    <br>
    <br>
    <button class="button"> 
        <a href="./index.html">Home</a>
    </button>

</div>
</Layout>