---
import Layout from '../layouts/layout.astro';
--- 
<Layout> 
<header class="header">   
	<h1>Shyann</h1>
	<h2>Web Designer</h2>
</header>	


<div class="right">

    <div class="toggle">
        <p class="mode-status">Dark Mode ON</p>
        <label class="toggle-switch">
            <input type="checkbox" id="mode-toggle">
            <span class="slider"></span>
        </label> 
    </div>
</div>
</Layout>

<style>
	body {
		color: #cccccc;
		background-color: #1a1a1a;
		font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	}
<style>