---
import Layout from '../layouts/layout.astro';
--- 

<Layout>
<header class="header">
    <h2>My Journey</h2>
</header>


<div class="main">

    <p>This program is the first step in a very exciting journey in becoming a software developer. 
    So far I've been enjoying everything I've learned and am eager to continue on this path. 
    I know this road will be long and challenging but the destination will be worth it.  
    I can't wait to see how far I go.</p>
</div>

<div class="right">

    <div class="toggle">
        <p class="mode-status">Dark Mode ON</p>
        <label class="toggle-switch">
            <input type="checkbox" id="mode-toggle">
            <span class="slider"></span>
        </label> 
    </div>
    <br>
    <br>

    <button class="button">
        <a href="./index.html">Home</a>
    </button>
</div>
</Layout>