<footer class="footer">
    <div>
        <p><b>Find me on</b><br><br>
        <a href="https://www.linkedin.com/in/shyann-maldonado/" target="_blank;">LinkedIn</a><br>
        <a href="https://instagram.com/shyannmaldonado?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D" target="_blank;">Instagram</a>
        </p>
    </div>
</footer>

<style>
   .footer {
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 
</style>